.frame {
    border-top: solid 20px red;
    border-right: solid 10px red;
    border-bottom: solid 35px red;
    border-left: solid 10px red;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 500px;
    display: grid;
    margin: auto;
    /* grid-template-columns: repeat(100, 1fr); */
}

.box {
    border: solid 1px #F2F2F2;
}

.active {
    background-color: black;
    border: solid 1px #F2F2F2;
}

.refresh {
    background-color: silver;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    margin: auto;
    padding: 20px;
    border: solid 1px white;
    border-radius: 8px;
}

