.frame {
    border: solid 1px black;
    background-color: white;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.box {
    border: solid 1px #F2F2F2;
}

.active {
    background-color: black;
    border: solid 1px #F2F2F2;
}

